.button {
    @include button;
}

.button--dark {
    text-transform: uppercase;
    background: $gray--dark;
    padding: .5em 2em;
}

.button--orange-lg {
    @include orange-button;
    margin-bottom:.5em;
    font-size: 1.2em;
    text-transform: uppercase;
}

.button--orange-md {
    @include orange-button;
    font-size: 1em;
}