.instagram {
    padding: 2em 20em;
    background: $orange;
    display: flex;
    flex-direction: column;
    @include for-desktop() {
        padding: 2em;
    }
}

.instagram__btn {
    margin: 2em auto;
}

.instagram-feed {
    display: flex;
    flex-wrap: wrap;
    margin: -1%;
}

.instagram-feed-box {
    flex: 0 0 25%;
    height: auto;
    padding: 1%;
    // margin: 1em 0;
    @include for-desktop {
        flex: 0 0 50%;
    }

    @include for-mobile {
        flex: 0 0 100%;
    }
}

.instagram-feed_image {
    display: block;
    width: 100%;
    height: auto;
}
