.instagram {
    padding: 2em 20em;
    background: $orange;
    display: flex;
    flex-direction: column;

    @include for-desktop() {
        padding: 2em;
    }
}

.instagram__btn {
    margin: 0 auto;
}

.instagram-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram-feed__item {
    background-size: cover;
    flex-basis: 23%;
    margin-top: 1em;
    min-width: 200px;
    min-height: 300px;
    background: rgb(219, 219, 219);
}

.instagram-feed--item-1 {
    background: url(/dist/images/header_images/facebook-2.svg);
}

.instagram-feed--item-2 {
    
}

.instagram-feed--item-3 {
    
}

.instagram-feed--item-4 {
    
}

.instagram-feed--item-5 {
    
}

.instagram-feed--item-6 {
    
}

.instagram-feed--item-7 {
    
}

.instagram-feed--item-8 {
    
}

.instagram-feed--item-9 {
    
}