.social-list {
    list-style: none;
    padding: 0;
}

.social-list__social-item {
    display: inline-block;
}

.social-item__icon-svg {
    width: 40px;
    height: 40px;
    fill: #a9a9a9;
    transition: ease-in-out 200ms;
    &:hover {
        fill: $orange;
    }
}

