// BUTTONS
@mixin button {
    padding: .2em 1.5em;
    text-decoration: none;
    color: #fff;
    opacity: .9;
    transition: ease-in-out 200ms;
    display: inline-block;
    &:hover {
        opacity: 1;
    }
}

// MEDIA QUERY
@mixin for-mobile {
    @media (max-width: 465px) {
        @content;
    }
}

@mixin for-tablet {
    @media (max-width: 780px) {
        @content;
    }
}

@mixin for-desktop {
    @media (max-width: 1300px) {
        @content;
    }
}